
.icon-divide:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-eq:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-left-1:before { content: '\e808'; } /* '' */